.aboutText{
    padding: 32px;
}

.contactWrapper{
    margin: 0 32px;
    width: calc(100vw - 64px);
}

.field{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;

    margin: 16px;
}