@media (min-width: 802px) {
    .mobileView{
        display: none;
    }


    .box {
        border: 1px solid black;
        background-color: white;
        display: flex;
        justify-content: space-between;
        max-width: 800px;
        width: 80vw;
        border-left: 6px solid #023496;
        margin: 16px 0;
        height: 160px;
    }

    .box:hover {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        transition: 0.3s;
        cursor: pointer;
    }

    .mediaContent, .mediaContentNoThumb {
        margin: 0 20px;
    }

    .mediaTitle {
        margin-bottom: -1px;
        margin-top: 12px;
    }

    .mediaAuthor, .mediaDate {
        font-weight: 200;
        margin-bottom: 24px;
    }

    .mediaDate {
        font-style: italic;
    }

}

@media (max-width: 801px) {
    .desktopView{
        display: none;
    }

    .box {
        border: 1px solid black;
        background-color: white;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        max-width: 800px;
        width: 80vw;
        border-left: 6px solid #023496;
    
        margin: 16px 0;
    }

    .mediaTitle {
        margin-bottom: -1px;
        margin-top: 12px;
    }
    
    .mediaAuthor, .mediaDate {
        font-weight: 200;
        margin-bottom: 24px;
    }
    
    .mediaDate {
        font-style: italic;
    }

    .mediaContent, .mediaContentNoThumb {
        margin: 0 20px;
    }
}

.image {
    object-fit: cover;
}