@media (min-width: 801px) {
    .mobileView{
        display: none;
    }

    .page, .moreDetails {
        background-color: #EDEDED;
    }

    .moreDetails{
        padding-top: 32px;
    }
    
    .page {
        display: grid;
        place-items: center;
    }
    
    .imageContainer {
        position: sticky;
        top: 0;
        width: 100%;
        height: 600px;
        z-index: 0;
    }
    
    .image {
        object-fit: cover;
    }
    
    .details {
        background-color: white;
        display: flex;
        flex-direction: column;
        width: 90%;
        z-index: 1;
        position: sticky;
        top: 500px;
    }
    
    .headlineContainer {
        text-align: center;
    }
    
    .title {
        font-size: 30px;
        font-weight: 600;
        margin: 50px 0 5px;
    }
    
    .author, .dateFormatted {
        font-size: 18px;
        color: #023496;
    }
    
    .author {
        font-weight: 500;
    }
    
    .dateFormatted {
        font-style: italic;
    }
    
    .content {
        font-size: 16px;
        margin: 20px 50px;
    }
    
    .content img {
        width: 100%;
    }
    
    .content blockquote {
        text-align: center;
        font-weight: 200;
        font-style: italic;
        position: relative;
        top: -20px;
    }
    
    .header {
        font-style: italic;
    }
    
    .header, .articleContainer {
        margin-left: 50px;
    }
    
    .articleContainer {
        padding-bottom: 50px;

        display: flex;
        flex-flow: column nowrap;

        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 800px) {

    .desktopView{
        display: none;
    }


    .page, .moreDetails {
        background-color: #EDEDED;
    }
    
    .page {
        display: grid;
        place-items: center;
    }
    
    .imageContainer {
        position: relative;
        top: 0;
        width: 100%;
        height: 700px;
        z-index: 0;

        height: 300px;
        width: 95%;

        margin: 16px 0;

        align-self: center;
    }
    
    .image {
        object-fit: cover;
    }
    
    .details {
        background-color: white;
        display: flex;
        flex-direction: column;
        width: 90%;
        z-index: 1;
        position: sticky;
        top: 500px;
        margin-bottom: 30px;
    }
    
    .headlineContainer {
        text-align: center;
    }
    
    .title {
        font-size: 30px;
        font-weight: 600;
        margin: 50px 0 5px;
    }
    
    .author, .dateFormatted {
        font-size: 16px;
        color: #023496;
    }
    
    .author {
        font-weight: 500;
    }
    
    .dateFormatted {
        font-style: italic;
    }
    
    .content {
        font-size: 16px;
        margin: 20px 50px;
    }
    
    .content img {
        width: 100%;
    }
    
    .content blockquote {
        text-align: center;
        font-weight: 200;
        font-style: italic;
        position: relative;
        top: -20px;
    }
    
    .header {
        font-style: italic;
    }
    
    .header {
        margin-left: 50px;
    }
    
    .articleContainer {
        padding-bottom: 50px;

        display: flex;
        flex-flow: column nowrap;

        justify-content: center;
        align-items: center;
    }
}

