.title {
    font-weight: 600;
    font-style: italic;
    margin: 20px;

}

.articlesWrapper{
    display: flex;
    flex-flow: column wrap;

    justify-content: center;
    align-items: center;

    margin-bottom: 32px;


}